body {
  margin: 0;
}

.block {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.leaflet-top.leaflet-right .leaflet-routing-container.leaflet-routing-container-hide {
  display: none;
}

.leaflet-popup-content-wrapper {
  border-right: 1px solid rgba(0, 0, 0, 0.0980392) !important;
  border-left: 1px solid rgba(0, 0, 0, 0.0980392) !important;
  border-top: 1px solid rgba(0, 0, 0, 0.0980392) !important;
  border-radius: 2px !important;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px !important;
}

.mdl-textfield {
  padding: 0;
}

/*.map-panel.route-panel {
  background-color: white;
  padding: 10px;
  z-index: 9999;
  border: 1px solid #cecece;
}

.map-panel.marker-panel {
  background-color: white;
  padding: 10px;
  z-index: 9998;
  border: 1px solid #cecece;
}*/
/*
.map-panel h5 {
  margin: 0px 0 16px;
}*/
