body {
  margin: 0;
}

.block {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.mdl-textfield {
  width: 500px;
}

.leaflet-top.leaflet-right .leaflet-routing-container.leaflet-routing-container-hide {
  display: none;
}
